* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Comic Mono", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: #282828;
    border-bottom: 3px solid #689d6a;
    color: #ebdbb2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #ebdbb2;
}
*/

window#waybar.termite {
    background-color: #282828;
}

window#waybar.chromium {
    background-color: #282828;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #689d6a;
}

#workspaces button {
    background-color: transparent;
    color: #ebdbb2;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background: #689d6a
}

#workspaces button.urgent {
    background-color: #cc241d;
}

#mode {
    background-color: #282828;
    border-bottom: 3px solid #ebdbb2;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-waybar-media,
#mpd {
    padding: 1px 10px;
    color: #ebdbb2;
    margin: 3px 5px;
}

#window {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    padding: 1px 10px;
    color: #ebdbb2;
    margin: 3px 5px;
}
#workspaces {
    border-bottom: 3px solid #689d6a;
    padding: 1px 10px;
    color: #ebdbb2;
    margin: 3px 5px;

}

/* If workspaces is the leftmost module, omit left margin */
    .modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #ebdbb2;
}

#battery {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #ebdbb2;
}

#battery.charging, #battery.plugged {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #ebdbb2;
}

@keyframes blink {
    to {
        background-color: #ebdbb2;
        color: #282828;
    }
}

#battery.critical:not(.charging) {
    background-color: #cc241d;
    color: #ebdbb2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #ebdbb2;
}

#cpu {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #cc241d;
}

#memory {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #98971a;
}

#disk {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #ebdbb2;
}

#backlight {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #ebdbb2;
}

#network {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #ebdbb2;
}

#network.disconnected {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #ebdbb2;
}

#pulseaudio {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #d79921;
}

#pulseaudio.muted {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #fabd2f;
}

#wireplumber {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #ebdbb2;
}

#wireplumber.muted {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #ebdbb2;
}

#custom-media {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #ebdbb2;
}

#custom-media.custom-spotify {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #ebdbb2;
}

#custom-media.custom-vlc {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #ebdbb2;
}

#temperature {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #ebdbb2;
}

#temperature.critical {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #ebdbb2;
}

#tray {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #ebdbb2;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #ebdbb2;
}

#idle_inhibitor {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #458588;
}

#idle_inhibitor.activated {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #83a598;
}

#mpd {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #ebdbb2;
}

#mpd.disconnected {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #ebdbb2;
}

#mpd.stopped {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #ebdbb2;
}

#mpd.paused {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #ebdbb2;
}

#language {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #ebdbb2;
}

#keyboard-state {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #ebdbb2;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #ebdbb2;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#custom-waybar-media {
    border-bottom: 3px solid #689d6a;
    background-color: #282828;
    color: #ebdbb2; 
}